
.icon-heart-1:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-lock-open:before { content: '\e803'; } /* '' */
.icon-lock-open-alt:before { content: '\e804'; } /* '' */