@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_regular_italic';
    src: url('../fonts/proximanova-regularitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_light_italic';
    src: url('../fonts/proximanova-lightitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
